.gallery-container {
  height: 100%;
  min-width: 100vw;
  display: flex;
  align-items: center;
  section {
    .gallery-item {
      height: 50rem;
      width: 60rem;
      margin: 3rem;
      figure {
        height: 100%;
        background: #fff;
        padding: 1rem;
        box-shadow: var(--box-shadow);
        border-radius: 0.4rem;
        display: flex;
        flex-direction: column;
        .article-img {
          flex: 4;
          display: flex;
          justify-content: center;
          align-items: center;
          img {
            height: 100%;
            width: 100%;
            object-fit: cover;
          }
        }
        figcaption {
          flex: 1;
          header {
            display: flex;
            justify-content: space-between;
            p {
              font-size: 2.5rem;
              font-weight: 700;
            }
          }
        }
      }
    }
  }
}
