#container main.article {
  padding: 3rem 0;
  figure.article {
    height: clamp(40rem, 55vw, 90%);
    width: 90%;
    max-width: 124rem;
    @include md {
      flex-direction: column;
      height: 100%;
      width: 70%;
    }
    @include sm {
      width: 90%;
    }
    figcaption {
      flex: 3;
      padding: 1rem 3rem 2rem 1rem;
      @include xl {
        flex: 4;
      }
      @include md {
        padding: 1rem 2rem 2rem;
      }
      header {
        margin-bottom: clamp(2rem, 7vw, 10rem);
      }
    }
  }
}
