#empty-cart {
  span {
    padding: 1vh;
    background: -webkit-linear-gradient(
      45deg,
      var(--accent) 10%,
      var(--primary)
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: translateX(-2vh);
    i {
      font-size: 20vh;
    }
  }
}
#cart-content {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  article {
    max-height: 100%;
    padding: 2rem 5rem;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    // Hiding scrollbar
    &::-webkit-scrollbar {
      display: none; // Chrome
    }
    -ms-overflow-style: none; // IE and Edge
    scrollbar-width: none; // Firefox
    .cart-item {
      width: 100%;
      max-width: 80rem;
      position: relative;
      transform: translateX((-7.5rem / 4));
      .btn-delete {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translate(50%, -50%);
      }
      figure {
        margin: 2rem 0;
        height: 30rem;
        .article {
          &-img {
            width: 30rem;
          }
          &-price {
            color: var(--accent);
            font-weight: 700;
            font-size: 3rem;
            text-align: center;
          }
        }
        figcaption {
          flex: 1;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          padding: 2rem 8rem 2rem 3rem;
          header {
            margin-bottom: 2rem;
            h2 {
              margin: 0;
            }
          }
          input {
            text-align: center;
          }
        }
      }
    }
  }
  aside {
    @include centered;
    height: 100%;
    #purchase-summary {
      @include box-model;
      padding: 3rem 4rem;
      .divider {
        margin: 2rem 0;
      }
      h2 {
        text-transform: uppercase;
      }
      h3 {
        position: relative;
      }
      a {
        @include centered;
        width: 100%;
        padding: 1rem 0;
        margin-bottom: 1rem;
        i {
          margin: 0 1rem 0.3rem -1rem;
        }
      }
      p {
        text-align: center;
        font-size: 2.6rem;
        font-weight: 700;
        color: var(--hint);
      }
      .informations {
        small {
          display: block;
          color: var(--hint);
          line-height: 2rem;
          i {
            margin-right: 0.5rem;
          }
        }
      }
    }
  }
}
