#empty-cart {
  @include box-model;
  height: 60%;
  width: 100%;
  max-width: 80rem;
  padding: 2rem 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  span {
    padding: 1vh;
    background: -webkit-linear-gradient(
      45deg,
      var(--accent) 10%,
      var(--primary)
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: translateX(-2vh);
    i {
      font-size: 20vh;
    }
  }
  .group-text {
    @include centered;
    flex-direction: column;
    h2 {
      color: var(--accent);
      margin-bottom: 0;
    }
    p {
      text-align: center;
    }
  }
}
#cart-content {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  article {
    flex: 3;
    max-height: 100%;
    padding: 2rem 0;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    // Hiding scrollbar
    &::-webkit-scrollbar {
      display: none; // Chrome
    }
    -ms-overflow-style: none; // IE and Edge
    scrollbar-width: none; // Firefox
    .cart-item {
      width: 100%;
      max-width: 80rem;
      position: relative;
      transform: translateX((-7.5rem / 4));
      .btn-delete {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translate(50%, -50%);
      }
      figure {
        margin: 2rem 0;
        height: 30rem;
        .article {
          &-img {
            width: 30rem;
          }
          &-price {
            color: var(--accent);
            font-weight: 700;
            font-size: 3rem;
            text-align: center;
          }
        }
        figcaption {
          flex: 1;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          padding: 2rem 8rem 2rem 3rem;
          header {
            margin-bottom: 2rem;
            h2 {
              margin: 0;
            }
          }
        }
      }
    }
  }
  aside {
    flex: 1;
  }
}
