.dialog {
  &-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0 2rem;
    background: rgba(0, 0, 0, 0.7);
    @include centered;
  }
  &-box {
    @include box-model;
    max-width: 55rem;
    padding: 3rem 4rem;
    display: flex;
    flex-direction: column;
    text-align: justify;
    p {
      margin-bottom: 1rem;
    }
    .divider {
      margin: 2rem 0 3rem;
    }
  }
}
