main.home {
  overflow: hidden;
  position: relative;
  .gallery-container {
    position: absolute;
    height: 50rem;
    display: flex;
    padding: 0 3rem;
    transition: all 1s cubic-bezier(0.22, 0.62, 0.39, 0.97);
    @include md {
      height: 42rem;
    }
    @include sm {
      position: static;
      height: auto;
      flex-direction: column;
      align-items: center;
      padding: 3rem 3rem 0;
    }
    .gallery-item {
      height: 100%;
      width: 60rem;
      min-width: 60rem;
      margin: 0 3rem;
      @include md {
        width: 50rem;
        min-width: 50rem;
      }
      @include sm {
        width: 100%;
        min-width: 40rem;
        margin: 0 0 3rem;
      }
      @include xs {
        width: 100%;
        min-width: 100%;
      }
      a {
        figure {
          height: 100%;
          padding: 1rem;
          flex-direction: column;
          transition: all 0.5s ease;
          &:hover {
            transform: translateY(-2rem) scale(1.02, 1.02);
            box-shadow: 0 6px 8px rgba(60, 64, 67, 0.3),
              0 6px 10px rgba(60, 64, 67, 0.15);
            @include sm {
              transform: translateY(-1rem) scale(1.02, 1.02);
              box-shadow: 0 3px 4px rgba(60, 64, 67, 0.3),
                0 3px 5px rgba(60, 64, 67, 0.15);
            }
          }
          .article-img {
            flex: 4;
          }
          figcaption {
            flex: 1;
            justify-content: space-between;
            padding: 0 1rem 0 0.5rem;
            header {
              margin-top: 1rem;
              display: flex;
              justify-content: space-between;
              p {
                font-size: 2.5rem;
                font-weight: 700;
                @include xs {
                  font-size: 2rem;
                }
              }
            }
          }
        }
      }
    }
  }
}
