#contact-form {
  @include box-model;
  padding: 3rem 4rem;
  height: 90%;
  max-width: 60rem;
  h2 {
    color: var(--primary);
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
  }
  .divider {
    height: 2px;
    width: 100%;
    background-color: var(--divider);
    margin: 1rem 0 0;
  }
  .content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 5rem 0;
    .group {
      position: relative;
      label {
        position: relative;
      }
      small {
        position: absolute;
        bottom: -1.6rem;
      }
    }
  }
  .btn {
    padding: 1rem 2rem 1rem 1.5rem;
  }
}
