:root {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  color: var(--text);
  font-family: var(--font-family);
  @include xs {
    font-size: 1.4rem;
  }
}

h1,
h2,
h3,
h4 {
  margin-bottom: 2rem;
  @include sm {
    margin-bottom: 1.5rem;
  }
  @include xs {
    margin-bottom: 1rem;
  }
}

h1 {
  font-size: 3.5rem;
  @include md {
    font-size: 3.4rem;
  }
  @include sm {
    font-size: 3.2rem;
  }
  @include xs {
    font-size: 3rem;
  }
}

h2 {
  font-size: 3rem;
  @include md {
    font-size: 2.9rem;
  }
  @include sm {
    font-size: 2.7rem;
  }
  @include xs {
    font-size: 2.5rem;
  }
}

h3 {
  font-size: 2.5rem;
  @include md {
    font-size: 2.4rem;
  }
  @include sm {
    font-size: 2.2rem;
  }
  @include xs {
    font-size: 2rem;
  }
}

h4 {
  font-size: 2rem;
  @include md {
    font-size: 1.9rem;
  }
  @include sm {
    font-size: 1.7rem;
  }
  @include xs {
    font-size: 1.5rem;
  }
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

a {
  color: var(--text);
  text-decoration: none;
}
