:root {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  color: var(--text);
  font-family: var(--font-family);
}

h1,
h2,
h3,
h4 {
  margin-bottom: 2rem;
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.5rem;
}

h4 {
  font-size: 2rem;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

a {
  color: var(--text);
  text-decoration: none;
}

figure {
  background: #fff;
  box-shadow: var(--box-shadow);
  border-radius: 0.4rem;
  display: flex;
  overflow: hidden;
  .article-img {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
  figcaption {
    display: flex;
    flex-direction: column;
  }
}

input {
  /* Firefox */
  -moz-appearance: textfield;

  /* Chrome */
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Opéra*/
  &::-o-inner-spin-button {
    -o-appearance: none;
    margin: 0;
  }
}
