.active {
  font-weight: 700;
  background: var(--primary);
}

.hidden {
  display: none !important;
  &-scrollbar {
    // Hiding scrollbar
    &::-webkit-scrollbar {
      display: none; // Chrome
    }
    -ms-overflow-style: none; // IE and Edge
    scrollbar-width: none; // Firefox
  }
}

.error {
  color: var(--error);
  &-input {
    border-color: var(--error);
  }
}

.btn {
  border-color: transparent;
  font-size: 2rem;
  font-weight: 700;
  padding: 1rem 2rem;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  white-space: nowrap;
  transition: all 0.5s ease-in-out;
  @include md {
    font-size: 1.9rem;
    padding: 0.8rem 1.5rem;
  }
  @include sm {
    font-size: 1.7rem;
  }
  @include xs {
    font-size: 1.5rem;
  }
  &-container {
    display: flex;
    justify-content: space-evenly;
    i {
      margin-right: 1rem;
    }
  }
  &-primary {
    background: var(--primary);
    color: #fff;
    &:hover {
      background: var(--dark);
    }
  }
  &-danger {
    background: #fff;
    color: var(--error);
    border: 1px solid var(--error);
    &:hover {
      color: var(--error-dark);
      border-color: var(--error-dark);
    }
  }
  &-quantity {
    background: var(--accent);
    color: #fff;
  }
  &-delete {
    background: var(--error);
    color: #fff;
    padding: 0;
    border-radius: 50%;
    height: 7rem;
    width: 7rem;
    box-shadow: var(--box-shadow);
    @include xl {
      height: 4rem;
      width: 4rem;
      font-size: 1.2rem;
    }
    @include md {
      height: 3.5rem;
      width: 3.5rem;
    }
    @include sm {
      height: 3rem;
      width: 3rem;
    }
    &:hover {
      background: var(--error-dark);
    }
  }
}

.article {
  &-price {
    color: var(--accent);
    font-weight: 700;
    font-size: 3rem;
    text-align: center;
    @include xs {
      font-size: 2.5rem;
      margin-bottom: -1rem;
    }
  }
}

.title {
  &-primary {
    color: var(--primary);
  }
  &-accent {
    color: var(--accent);
  }
}

.divider {
  height: 2px;
  width: 100%;
  background-color: var(--divider);
}
