* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Prevent the transition from happening on load page : For every elments within the page
.preload * {
  transition: none !important;
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}
