:root {
  --primary: #3498db;
  --dark: #2980b9;
  --accent: #145d8d;
  --text: #333;
  --divider: #ecf0f1;
  --dark-grey: #324355;
  --error: #e74c3c;
  --error-dark: #c0392b;
  --hint: #95a5a6;
  --font-family: "Mulish", cursive;
  --special-font: "Permanent Marker", cursive;
  --box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3),
    0 1px 3px 1px rgba(60, 64, 67, 0.15);
}
