extends layout.pug

block content
  main
    figure.article
      .article-img
        img(src="images/temporary/vcam_1.jpg", alt="Appareil photo")
      figcaption
        header
          h2.article-name ZEISS IKON : Prontor
          p.article-id Réf. #{articleId}
        form
          .group
            p.label Description du produit
            p.article-description Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ut dignissimos, itaque ea officiis odio voluptates adipisci eius impedit illo facilis ipsum? Quibusdam voluptatem alias quasi perspiciatis fugiat, odio aspernatur fugit eaque! Saepe assumenda libero eveniet eos aut pariatur corrupti veniam.
          .group
            label(for="option") Option
            select#option
              option(value="Option 1") Option 1 
              option(value="Option 2") Option 2
              option(value="Option 3") Option 3
              option(value="Option 4") Option 4
          .group
            label(for="quantity") Quantité
            .row
              button.btn.btn-quantity.quantity-remove(type="button"): i.fas.fa-minus
              input#quantity(type="number" min="1" max="99" value="1")
              button.btn.btn-quantity.quantity-add(type="button"): i.fas.fa-plus
          .group
            p.article-price 35.99 €
          .btn-container
            button.btn.btn-primary
              i.fas.fa-cart-plus
              |Ajouter 
            button.btn.btn-danger(type="button") Annuler