extends layout.pug

block content
  main
    #cart-content.hidden
      article
      aside
        #purchase-summary
          h2.title-accent Récapitulatif
          .group
            h3 Total TTC
            p#total-price 00€
              sup 00
          .divider
          .group
            h3 
              |Ou payez en 3&times
              i.far.fa-question-circle(title="Frais de dossier de 10€ inclus")
            p
              |3&times 
              span#three-times-price 00€
                sup 00
          .divider
          .group
            a.btn.btn-primary(href="/order")
              i.fad.fa-bags-shopping
              |Acheter
            .informations
              small
                i.fas.fa-sync-alt
                |14 jours pour changer d'avis
              small
                i.fas.fa-hand-holding-usd
                |Prix suivant TVA à 20%
              small
                i.fas.fa-shield-check
                |Paiement sécurisé