extends layout.pug

block content
  main
    #empty-cart
      span: i.far.fa-cart-arrow-down
      .group
        h2 Votre panier est vide
        p Il semblerait que vous n'ayez pas encore fait votre choix...
      a.btn.btn-primary(href="/") Poursuivre vos achats