extends layout.pug

block content
  main
    #empty-cart.hidden
      span: i.far.fa-cart-arrow-down
      .group-text
        h2 Votre panier est vide
        p Il semblerait que vous n'ayez pas encore fait votre choix...
      a.btn.btn-primary(href="/") Poursuivre vos achats
    #cart-content
      article
      aside
        #purchase-summary
          h2 Récapitulatif
          .group
            h3 Total TTC
            p#total-price 00€
              sup 00
          .divider
          .group
            h3 Ou payez en 3&times
            p.threefold-price
              |3&times
              | 00€
              sup 00
          .divider
          .group
            a.btn.btn-primary(href="/order")
              i.fad.fa-bags-shopping
              |Acheter
            .informations
              small
                i.fas.fa-sync-alt
                |14 jours pour changer d'avis
              small
                i.fas.fa-hand-holding-usd
                |Prix suivant TVA à 20%
              small
                i.fas.fa-shield-check
                |Paiement sécurisé