extends layout.pug

block content
  main
    .gallery
      .gallery-container(data-scroll-container="")
        section(data-scroll-section="")
          .gallery-item
            figure
              img(src="images/temporary/vcam_1.jpg", alt="")
              figcaption
                h3.title TEST 1 - 309.99€
                p.article-id Réf. 123456789
        section(data-scroll-section="")
          .gallery-item
            figure
              img(src="images/temporary/vcam_2.jpg", alt="")
              figcaption
                h3.title  TEST 2 - 309.99€
                p.article-id Réf. 987654321
        section(data-scroll-section="")
          .gallery-item
            figure
              img(src="images/temporary/vcam_3.jpg", alt="")
              figcaption
                h3.title  TEST 2 - 309.99€
                p.article-id Réf. 987654321
        section(data-scroll-section="")
          .gallery-item
            figure
              img(src="images/temporary/vcam_4.jpg", alt="")
              figcaption
                h3.title TEST 1 - 309.99€
                p.article-id Réf. 123456789
        section(data-scroll-section="")
          .gallery-item
            figure
              img(src="images/temporary/vcam_5.jpg", alt="")
              figcaption
                h3.title  TEST 2 - 309.99€
                p.article-id Réf. 987654321