<!DOCTYPE html>
html(lang="fr")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    //- script(src="https://kit.fontawesome.com/67cd12d136.js", crossorigin="anonymous")
    script(src="javascript/lib/fontawesome.min.js")
    link(rel="preconnect", href="https://fonts.gstatic.com")
    link(href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;700&family=Permanent+Marker&display=swap", rel="stylesheet")
    link(rel="stylesheet", type="text/css", href="styles/css/styles.css")
    link(rel="stylesheet", type="text/css", href="styles/css/locomotive-scroll.css")
    link(rel="shortcut icon", type="image" href="images/favicon.ico")
    title Orinoco
  body
    #container
      include includes/header.pug
      block content
      include includes/footer.pug
    if (path === "/")
      script(src="javascript/home.js", type="module")
    else if (path === "/article")
      script(src="javascript/article.js")