<!DOCTYPE html>
html(lang="fr")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    script(src="javascript/lib/fontawesome.min.js")
    link(rel="preconnect", href="https://fonts.gstatic.com")
    link(href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;700&family=Permanent+Marker&display=swap", rel="stylesheet")
    link(rel="stylesheet", type="text/css", href="styles/css/styles.css")
    link(rel="shortcut icon", type="image/x-icon" href="images/favicon.ico")
    title Orinoco
  body.preload
    #container
      include includes/header.pug
      block content
      include includes/footer.pug
    script(src="javascript/shared/components/preload.js" type="module")
    if (path === "/")
      script(src="javascript/assets/home-scroll.js", type="module")
      script(src="javascript/home.js" type="module")
    else if (path === "/article")
      script(src="javascript/article.js" type="module")
    else if (path === "/cart")
      script(src="javascript/assets/cart-style.js")
      script(src="javascript/cart.js" type="module")
    else if (path === "/order")
      script(src="javascript/order.js" type="module")