extends layout.pug

block content
  main
    form#contact-form
      h2.title-primary Passez votre commande !
      .divider
      .content
        .group
          label(for="lastname") Nom
          input.field#lastname(type="text", name="lastname", required="true")
          small.error-lastname.hidden *Le nom que vous avez renseigné n'est pas valide
        .group
          label(for="firstname") Prénom
          input.field#firstname(type="text", name="firstname", required="true")
          small.error-firstname.hidden *Le prénom que vous avez renseigné n'est pas valide
        .group
          label(for="email") Adresse email
          input.field#email(type="email", name="email", required="true")
          small.error-email.hidden *L'adresse email que vous avez renseignée n'est pas valide
        .group
          label(for="address") 
            |Adresse postale
            i.far.fa-question-circle(title="Exemple : 2 rue de la République")
          input.field#address(type="text", name="address", required="true")
          small.error-address.hidden *L'adresse postale que vous avez renseignée n'est pas valide
        .group
          label(for="city") Ville
          input.field#city(type="text", name="city", required="true")
          small.error-city.hidden *La ville que vous avez renseignée n'est pas valide
      .divider
      .btn-container
        .order-container
          #order-summary
            p.label Total TTC :
            p#total-price 00€
              sup 00
          button.btn.btn-primary
            i.fad.fa-bags-shopping
            |Valider la commande
        button.btn.btn-danger(type="button") Annuler