header
  .logo
    a(href="/")
      h1
        i.fad.fa-shopping-cart
        |Orinoco
  nav
    ul.menu
      li(class=["menu-item", path === "/" ? "active" : ""])
        a(href="/")
          i.far.fa-home-lg-alt
          span.text Accueil
      li(class=["menu-item", path === "/cart" ? "active" : ""])
        a(href="/cart") 
          i.far.fa-shopping-cart 
          span.article-nb 