@charset "UTF-8";
:root {
  --primary: #3498db;
  --dark: #2980b9;
  --accent: #145d8d;
  --text: #333;
  --divider: #ecf0f1;
  --dark-grey: #324355;
  --error: #e74c3c;
  --error-dark: #c0392b;
  --hint: #95a5a6;
  --font-family: "Mulish", cursive;
  --special-font: "Permanent Marker", cursive;
  --box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3),
    0 1px 3px 1px rgba(60, 64, 67, 0.15); }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.preload * {
  transition: none !important;
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important; }

.active {
  font-weight: 700;
  background: var(--primary); }

.hidden {
  display: none !important; }

.error {
  color: var(--error); }
  .error-input {
    border-color: var(--error); }

.btn {
  border: none;
  font-size: 2rem;
  font-weight: 700;
  padding: 1rem 2rem;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  white-space: nowrap;
  transition: all 0.5s ease-in-out; }
  .btn-container {
    display: flex;
    justify-content: space-evenly; }
    .btn-container i {
      margin-right: 1rem; }
  .btn-primary {
    background: var(--primary);
    color: #fff; }
    .btn-primary:hover {
      background: var(--dark); }
  .btn-danger {
    background: #fff;
    color: var(--error);
    border: 1px solid var(--error); }
    .btn-danger:hover {
      color: var(--error-dark);
      border-color: var(--error-dark); }
  .btn-quantity {
    background: var(--accent);
    color: #fff; }
  .btn-delete {
    background: var(--error);
    color: #fff;
    padding: 0;
    border-radius: 50%;
    height: 7rem;
    width: 7rem;
    box-shadow: var(--box-shadow); }
    .btn-delete:hover {
      background: var(--error-dark); }

.article .article-img {
  flex: 8;
  padding: 1rem; }

.article .article-description {
  text-align: justify; }

.article .article-price {
  color: var(--accent);
  font-weight: 700;
  font-size: 3rem;
  text-align: center; }

/* Landscape phones and down */
/* Landscape phone to portrait tablet */
/* Portrait tablet to landscape and desktop */
/* Large desktop */
:root {
  font-size: 62.5%;
  scroll-behavior: smooth; }

body {
  font-size: 1.6rem;
  color: var(--text);
  font-family: var(--font-family); }

h1,
h2,
h3,
h4 {
  margin-bottom: 2rem; }

h1 {
  font-size: 3.5rem; }

h2 {
  font-size: 3rem; }

h3 {
  font-size: 2.5rem; }

h4 {
  font-size: 2rem; }

ul {
  list-style: none; }

img {
  max-width: 100%; }

a {
  color: var(--text);
  text-decoration: none; }

.article-id {
  color: var(--hint); }

figure {
  background: #fff;
  border-radius: 0.4rem;
  box-shadow: var(--box-shadow);
  display: flex;
  overflow: hidden; }
  figure .article-img {
    display: flex;
    justify-content: center;
    align-items: center; }
    figure .article-img img {
      height: 100%;
      width: 100%;
      object-fit: cover; }
  figure .article-price {
    color: var(--accent);
    font-weight: 700;
    font-size: 3rem;
    text-align: center; }
  figure figcaption {
    display: flex;
    flex-direction: column; }

input {
  /* Firefox */
  -moz-appearance: textfield;
  /* Chrome */
  /* Opéra*/ }
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; }
  input::-o-inner-spin-button {
    -o-appearance: none;
    margin: 0; }

input,
select,
textarea {
  padding: 0.6rem 1rem;
  background: #fff;
  border: 0.1rem solid var(--hint);
  border-radius: 0.4rem; }

select {
  text-align-last: center; }

textarea {
  resize: none; }

form {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  form .group {
    display: flex;
    flex-direction: column; }
    form .group .label,
    form .group label {
      font-size: 2rem;
      font-weight: 700;
      margin-bottom: 0.2rem; }
    form .group .row {
      display: flex;
      align-items: center; }
      form .group .row input {
        flex: 1;
        margin: 0 0.5rem;
        text-align: center; }
      form .group .row button {
        width: 3rem;
        padding: 0;
        align-self: stretch; }
        form .group .row button i {
          transform: translateY(1px); }

.gallery-container {
  height: 100%;
  min-width: 100vw;
  display: flex;
  align-items: center; }
  .gallery-container section .gallery-item {
    height: 50rem;
    width: 60rem;
    margin: 3rem; }
    .gallery-container section .gallery-item.first-item {
      margin-left: 6rem; }
    .gallery-container section .gallery-item.last-item {
      margin-right: 6rem; }
    .gallery-container section .gallery-item a figure {
      transition: all 0.5s ease;
      height: 100%;
      padding: 1rem;
      flex-direction: column; }
      .gallery-container section .gallery-item a figure:hover {
        transform: translateY(-2rem) scale(1.02, 1.02);
        box-shadow: 0 6px 8px rgba(60, 64, 67, 0.3), 0 6px 10px rgba(60, 64, 67, 0.15); }
      .gallery-container section .gallery-item a figure .article-img {
        flex: 4; }
      .gallery-container section .gallery-item a figure figcaption {
        flex: 1;
        justify-content: space-between;
        padding: 0 1rem 0 0.5rem; }
        .gallery-container section .gallery-item a figure figcaption header {
          margin-top: 1rem;
          display: flex;
          justify-content: space-between; }
          .gallery-container section .gallery-item a figure figcaption header p {
            font-size: 2.5rem;
            font-weight: 700; }

#container main > figure.article {
  height: 90%;
  min-height: 70rem;
  width: 90%;
  min-width: 100rem;
  max-width: 124rem; }
  #container main > figure.article .article-img {
    flex: 8;
    padding: 1rem; }
  #container main > figure.article .article-description {
    text-align: justify; }
  #container main > figure.article .article-price {
    margin-top: -5rem; }
  #container main > figure.article figcaption {
    flex: 3;
    padding: 1rem 3rem 2rem 1rem; }
    #container main > figure.article figcaption header {
      margin-bottom: 10rem; }
      #container main > figure.article figcaption header h2 {
        color: var(--accent); }

#empty-cart {
  background: #fff;
  border-radius: 0.4rem;
  box-shadow: var(--box-shadow);
  height: 60%;
  width: 100%;
  max-width: 80rem;
  padding: 2rem 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center; }
  #empty-cart span {
    padding: 1vh;
    background: -webkit-linear-gradient(45deg, var(--accent) 10%, var(--primary));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: translateX(-2vh); }
    #empty-cart span i {
      font-size: 20vh; }
  #empty-cart .group-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    #empty-cart .group-text h2 {
      color: var(--accent);
      margin-bottom: 0; }
    #empty-cart .group-text p {
      text-align: center; }

#cart-content {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-evenly; }
  #cart-content article {
    max-height: 100%;
    padding: 2rem 5rem;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    -ms-overflow-style: none;
    scrollbar-width: none; }
    #cart-content article::-webkit-scrollbar {
      display: none; }
    #cart-content article .cart-item {
      width: 100%;
      max-width: 80rem;
      position: relative;
      transform: translateX(-1.875rem); }
      #cart-content article .cart-item .btn-delete {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translate(50%, -50%); }
      #cart-content article .cart-item figure {
        margin: 2rem 0;
        height: 30rem; }
        #cart-content article .cart-item figure .article-img {
          width: 30rem; }
        #cart-content article .cart-item figure .article-price {
          color: var(--accent);
          font-weight: 700;
          font-size: 3rem;
          text-align: center; }
        #cart-content article .cart-item figure figcaption {
          flex: 1;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          padding: 2rem 8rem 2rem 3rem; }
          #cart-content article .cart-item figure figcaption header {
            margin-bottom: 2rem; }
            #cart-content article .cart-item figure figcaption header h2 {
              margin: 0; }
  #cart-content aside {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; }
    #cart-content aside #purchase-summary {
      background: #fff;
      border-radius: 0.4rem;
      box-shadow: var(--box-shadow);
      padding: 3rem 4rem; }
      #cart-content aside #purchase-summary .divider {
        height: 2px;
        width: 100%;
        background-color: var(--divider);
        margin-bottom: 2rem; }
      #cart-content aside #purchase-summary h2 {
        color: var(--accent);
        text-transform: uppercase; }
      #cart-content aside #purchase-summary button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 1rem 0;
        margin-bottom: 1rem; }
        #cart-content aside #purchase-summary button i {
          margin: 0 1rem 0.3rem -1rem; }
      #cart-content aside #purchase-summary .informations small {
        display: block;
        color: var(--hint);
        line-height: 2rem; }
        #cart-content aside #purchase-summary .informations small i {
          margin-right: 0.5rem; }

#contact-form {
  background: #fff;
  border-radius: 0.4rem;
  box-shadow: var(--box-shadow);
  padding: 3rem 4rem;
  height: 90%;
  max-width: 60rem; }
  #contact-form h2 {
    color: var(--primary);
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center; }
    #contact-form h2::after {
      content: "";
      position: absolute;
      display: block;
      height: 0.1rem;
      width: 80%;
      background: var(--primary);
      bottom: -3rem; }
  #contact-form .content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; }
    #contact-form .content .group {
      position: relative; }
      #contact-form .content .group:last-child {
        height: 35%; }
        #contact-form .content .group:last-child textarea {
          height: 100%; }
      #contact-form .content .group small {
        position: absolute;
        bottom: -1.6rem; }
  #contact-form .btn {
    padding: 1rem 2rem 1rem 1.5rem; }

#container {
  min-height: 100vh;
  max-width: 1920px;
  display: grid;
  grid: "header" auto "main" 1fr "footer" auto / auto; }
  #container > header {
    width: 100vw;
    grid-area: header;
    background: var(--dark);
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28); }
    #container > header .logo {
      padding: 1rem 2rem; }
      #container > header .logo h1 {
        font-family: var(--special-font);
        font-size: 3rem;
        font-weight: 500;
        margin: 0; }
        #container > header .logo h1 i {
          margin-right: 1.5rem; }
    #container > header a {
      color: #fff; }
    #container > header nav {
      height: 100%; }
      #container > header nav .menu {
        display: flex;
        padding-right: -3rem;
        height: 100%; }
        #container > header nav .menu .menu-item {
          font-size: 1.8rem; }
          #container > header nav .menu .menu-item a {
            display: flex;
            align-items: center;
            height: 100%;
            width: 100%;
            padding: 0 3rem 0.25rem 3rem; }
          #container > header nav .menu .menu-item i {
            margin-right: 0.3rem; }
          #container > header nav .menu .menu-item .article-nb {
            margin-bottom: -0.25rem; }
  #container main {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: main;
    background: var(--divider);
    overflow: hidden; }
  #container footer {
    width: 100vw;
    grid-area: footer;
    background: var(--dark-grey);
    color: #fff;
    font-size: 1.8rem;
    text-align: center;
    padding: 1rem; }
